.navbar {
  width: 100%;
  background-color: #1f2937;
  color: white;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
}

.navbar-logo h2 {
  font-size: 24px;
}

.navbar-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.navbar-links a:hover {
  color: #38bdf8;
}

.logout-btn {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  background-color: #ef4444;
  color: white;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: #dc2626;
}

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .navbar-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

}